@{
    ViewBag.Title = "Home Page";
}


    <!--overview start-->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-home"></i> Inicio</h3>
          
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
                <i class="fa fa-quote-right"></i><br/><br/>
                <div class="title" style="font-size: 20px">@Html.ActionLink("Devocionais", "Index", "Devocional" )</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box brown-bg">
                <i class="fa fa-calendar"></i><br /><br />
                <div class="title" style="font-size: 20px">Avisos</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box dark-bg">
                <i class="fa fa-file-image-o"></i><br /><br />
                <div class="title" style="font-size: 20px">Banner</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box green-bg">
                <i class="fa fa-cog"></i><br /><br />
                <div class="title" style="font-size: 20px">Configuração
                </div>
            </div><!--/.info-box-->
        </div><!--/.col-->

    </div><!--/.row-->
